/* ErrorPage.module.css */
.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 60vh; /* Ensure full viewport height */
  background-color: inherit;
  /* padding: 20px; */
}

.error div {
  width: 60rem;
  display: flex;
  justify-content: space-around;
}

.error h1 {
  font-size: 2em;
  margin-bottom: 20px;
  margin-top: -17rem;
}

.error p {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.error button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

.error button:hover {
  background-color: #444;
}
