/* Loading.module.css */
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%; /* Adjust height as needed */
  /* background-color: rgba(0, 0, 0, 0.2); Optional background color */
}

.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #95c675;
  margin: 0 5px;
  animation: bounce 1.2s infinite ease-in-out;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
